<?php
function userbadge_conf($badge=''){
    $config = array();
    $config['userbadges']['yijuchengming'] = array(
        'huamn_name'=>t('一舉成名'),
        'num'=>1,
        'msg'=>t('Congratulation! You got the 一舉成名 badge.'),
        'desc'=>t('Post your first sharing on Playground.'),
        'handler'=>'statuses_publish_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/01.png',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/001.png',
    );
    
    $config['userbadges']['yijianzhongqing'] = array(
        'huamn_name'=>t('一見鍾情'),
        'num'=>1,
        'msg'=>'Congratulation! You got the 一見鍾情 badge.',
        'desc'=>t('Post your first sharing on other user profile'),
        'handler'=>'statuses_publish_touser_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/02.png',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/002.png',
    );
    
    $config['userbadges']['hufenghuanyu'] = array(
        'huamn_name'=>t('呼風喚雨'),
        'num'=>5,
        'msg'=>'Congratulation! You got the 呼風喚雨 badge.',
        'desc'=>t('Have 100 sharings on Playground.'),
        'handler'=>'statuses_publish_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/03.png',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/003.png',
    );
    
    $config['userbadges']['tanxiaofengsheng'] = array(
        'huamn_name'=>t('談笑風生'),
        'num'=>5,
        'msg'=>'Congratulation! You got the 談笑風生 badge.',
        'desc'=>t('Give 10 comments to others on Playground.'),
        'handler'=>'statuses_reply_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.png',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.png',
    );
    
    $config['userbadges']['zantanbuyi'] = array(
        'huamn_name'=>t('讚歎不已'),
        'num'=>5,
        'msg'=>'Congratulation! You got the 讚歎不已 badge.',
        'desc'=>t('Like 100 sharings from others'),
        'handler'=>'statuses_like_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.png',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.png',
    );
    
    $config['userbadges']['paianjiaojue'] = array(
        'huamn_name'=>t('拍案叫絕'),
        'num'=>3,
        'msg'=>'Congratulation! You got the 拍案叫絕 badge.',
        'desc'=>t('Any of your sharing received 100 Likes'),
        'handler'=>'statuses_liked_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.png',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.png',
    );
    
    $config['userbadges']['yihubaiying'] = array(
        'huamn_name'=>t('一呼百應'),
        'num'=>3,
        'msg'=>'Congratulation! You got the 一呼百應 badge.',
        'desc'=>t('Any of your sharing received 100 comments from others'),
        'handler'=>'statuses_replyed_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.png',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.png',
    );
    
    $config['userbadges']['yimingjingren'] = array(
        'huamn_name'=>t('一鳴驚人'),
        'num'=>1,
        'msg'=>'Congratulation! You got the 一鳴驚人 badge.',
        'desc'=>t('Write your first blog.'),
        'handler'=>'blog_publish_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.png',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    
    $config['userbadges']['xiaoyoumingqi'] = array(
        'huamn_name'=>t('小有名气'),
        'num'=>3,
        'msg'=>'Congratulation! You got the 小有名气 badge.',
        'desc'=>t('Write 10 blogs.'),
        'handler'=>'blog_publish_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.png',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.png',
    );
    
    $config['userbadges']['zhimingzuojia'] = array(
        'huamn_name'=>t('知名作家'),
        'num'=>5,
        'msg'=>'Congratulation! You got the 知名作家 badge.',
        'desc'=>t('Write 50 blogs.'),
        'handler'=>'blog_publish_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    
    $config['userbadges']['hanglinwensheng'] = array(
        'huamn_name'=>t('翰林文聖'),
        'num'=>6,
        'msg'=>'Congratulation! You got the 翰林文聖 badge.',
        'desc'=>t('Write 100 blogs.'),
        'handler'=>'blog_publish_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    
    $config['userbadges']['tanxiaohongru'] = array(
        'huamn_name'=>t('談笑鴻儒'),
        'num'=>4,
        'msg'=>'Congratulation! You got the 談笑鴻儒 badge.',
        'desc'=>t('Comment 10 blogs.'),
        'handler'=>'blog_reply_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    $config['userbadges']['shezhanqunru'] = array(
        'huamn_name'=>t('舌戰群雄'),
        'num'=>3,
        'total'=>1,
        'msg'=>'Congratulation! You got the 舌戰群雄 badge.',
        'desc'=>t('Post 20 comments on blogs and each get 5 useful votes'),
        'handler'=>'blog_reply_vote_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    $config['userbadges']['yiyanjiuding'] = array(
        'huamn_name'=>t('一言九鼎'),
        'num'=>3,
        'msg'=>'Congratulation! You got the 一言九鼎 badge.',
        'desc'=>t('Write a blog and receive 9 comments.'),
        'handler'=>'blog_replyed_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    $config['userbadges']['qibuchengshi'] = array(
        'huamn_name'=>t('七步成詩'),
        'num'=>7,
        'reply'=>2,
        'msg'=>'Congratulation! You got the 七步成詩 badge.',
        'desc'=>t('Write 7 blogs and each received 10 comments from others'),
        'handler'=>'blog_publish_replyed_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    
    $config['userbadges']['xufuwuche'] = array(
        'huamn_name'=>t('學富五車'),
        'num'=>3,   ////////类别
        'total'=>2,   ////////最佳答案
        'msg'=>'Congratulation! You got the 學富五車 badge.',
        'desc'=>t('Answer questions in 5 different categories and got 10 best answers in each categories.'),
        'handler'=>'knowledge_reply_goodanswer_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    
    $config['userbadges']['rumusanfen'] = array(
        'huamn_name'=>t('入木三分'),
        'num'=>3,
        'msg'=>'Congratulation! You got the 入木三分 badge.',
        'desc'=>t('Any of your answer received 30 useful votes.'),
        'handler'=>'knowledge_using_voted_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    
    $config['userbadges']['juyifansan'] = array(
        'huamn_name'=>t('舉一反三'),
        'num'=>3,
        'msg'=>'Congratulation! You got the 舉一反三 badge.',
        'desc'=>t('Post a question and received 3 answers.'),
        'handler'=>'knowledge_replyed_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    
    $config['userbadges']['yujingsizuo'] = array(
        'huamn_name'=>t('語驚四座'),
        'num'=>3,
        'msg'=>'Congratulation! You got the 語驚四座 badge.',
        'desc'=>t('Any of your 4 answers being selected as Best Answer.'),
        'handler'=>'knowledge_best_reply_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    
    $config['userbadges']['math'] = array(
        'huamn_name'=>t('數學專才'),
        'num'=>2,
        'total'=>2,
        'tid'=>array(26),
        'msg'=>'Congratulation! You got the 數學專才 badge.',
        'desc'=>t('Asked 10 questions and answered 10 questions in Math category.'),
        'handler'=>'knowledge_ask_reply_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    
    $config['userbadges']['science'] = array(
        'huamn_name'=>t('科學博士'),
        'num'=>5,
        'total'=>5,
        'tid'=>array(28,29,30,31),
        'msg'=>'Congratulation! You got the 科學博士 badge.',
        'desc'=>t('Asked 10 questions and answered 10 questions in Science category.'),
        'handler'=>'knowledge_ask_reply_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    
    $config['userbadges']['chinese'] = array(
        'huamn_name'=>t('中文才子'),
        'num'=>2,
        'total'=>2,
        'tid'=>array(24),
        'msg'=>'Congratulation! You got the 中文才子 badge.',
        'desc'=>t('Asked 10 questions and answered 10 questions in Chinese Language category.'),
        'handler'=>'knowledge_ask_reply_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    
    $config['userbadges']['english'] = array(
        'huamn_name'=>t('洋才橫溢'),
        'num'=>10,
        'total'=>10,
        'tid'=>array(25),
        'msg'=>'Congratulation! You got the 洋才橫溢 badge.',
        'desc'=>t('Asked 10 questions and answered 10 questions in English Language category.'),
        'handler'=>'knowledge_ask_reply_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    
    $config['userbadges']['liberal'] = array(
        'huamn_name'=>t('通識達人'),
        'num'=>10,
        'total'=>10,
        'tid'=>array(27),
        'msg'=>'Congratulation! You got the 通識達人 badge.',
        'desc'=>t('Asked 10 questions and answered 10 questions in Liberal Study category.'),
        'handler'=>'knowledge_ask_reply_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    
    $config['userbadges']['economics'] = array(
        'huamn_name'=>t('經濟達人'),
        'num'=>10,
        'total'=>10,
        'tid'=>array(32),
        'msg'=>'Congratulation! You got the 經濟達人 badge.',
        'desc'=>t('Asked 10 questions and answered 10 questions in Economics category.'),
        'handler'=>'knowledge_ask_reply_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    
    $config['userbadges']['geography'] = array(
        'huamn_name'=>t('地理學家'),
        'num'=>10,
        'total'=>10,
        'tid'=>array(37),
        'msg'=>'Congratulation! You got the 地理學家 badge.',
        'desc'=>t('Asked 10 questions and answered 10 questions in Geography category.'),
        'handler'=>'knowledge_ask_reply_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    
    $config['userbadges']['history'] = array(
        'huamn_name'=>t('歷史學家'),
        'num'=>10,
        'total'=>10,
        'tid'=>array(36),
        'msg'=>'Congratulation! You got the 歷史學家 badge.',
        'desc'=>t('Asked 10 questions and answered 10 questions in History category.'),
        'handler'=>'knowledge_ask_reply_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    
    $config['userbadges']['chinesehistory'] = array(
        'huamn_name'=>t('博古通今'),
        'num'=>10,
        'total'=>10,
        'tid'=>array(35),
        'msg'=>'Congratulation! You got the 博古通今 badge.',
        'desc'=>t('Asked 10 questions and answered 10 questions in Chinese History category.'),
        'handler'=>'knowledge_ask_reply_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    
    $config['userbadges']['computer'] = array(
        'huamn_name'=>t('電腦高手'),
        'num'=>10,
        'total'=>10,
        'tid'=>array(34),
        'msg'=>'Congratulation! You got the 電腦高手 badge.',
        'desc'=>t('Asked 10 questions and answered 10 questions in Computer & ICT category.'),
        'handler'=>'knowledge_ask_reply_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    
    $config['userbadges']['music'] = array(
        'huamn_name'=>t('音樂達人'),
        'num'=>10,
        'total'=>10,
        'tid'=>array(38),
        'msg'=>'Congratulation! You got the 音樂達人 badge.',
        'desc'=>t('Asked 10 questions and answered 10 questions in Music category.'),
        'handler'=>'knowledge_ask_reply_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    
    $config['userbadges']['arts'] = array(
        'huamn_name'=>t('小藝術家'),
        'num'=>10,
        'total'=>10,
        'tid'=>array(39),
        'msg'=>'Congratulation! You got the 小藝術家 badge.',
        'desc'=>t('Asked 10 questions and answered 10 questions in Visual Arts category.'),
        'handler'=>'knowledge_ask_reply_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    
    $config['userbadges']['mingrizhixing'] = array(
        'huamn_name'=>t('明日之星'),
        'num'=>1,
        'msg'=>'Congratulation! You got the 明日之星 badge.',
        'desc'=>t('Cared by 10 people.'),
        'handler'=>'others_followed_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    $config['userbadges']['houqizhixiu'] = array(
        'huamn_name'=>t('後起之秀'),
        'num'=>3,
        'msg'=>'Congratulation! You got the 後起之秀 badge.',
        'desc'=>t('Cared by 50 people.'),
        'handler'=>'others_followed_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    $config['userbadges']['yidaizongshi'] = array(
        'huamn_name'=>t('一代宗師'),
        'num'=>5,
        'msg'=>'Congratulation! You got the 一代宗師 badge.',
        'desc'=>t('Cared by 100 people.'),
        'handler'=>'others_followed_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    $config['userbadges']['wuweibuzhi'] = array(
        'huamn_name'=>t('無微不至'),
        'num'=>4,
        'msg'=>'Congratulation! You got the 無微不至 badge.',
        'desc'=>t('Care 10 people.'),
        'handler'=>'others_follow_huandler',
        'large_image'=>drupal_get_path('module','userbadge').'/image/large/1.jpg',
        'small_image'=>drupal_get_path('module','userbadge').'/image/small/1.jpg',
    );
    if($badge !== '' && isset($config['userbadges'][$badge])){
        return $config['userbadges'][$badge];
    }
    else if($badge == 'all'){
        return $config['userbadges'];
    }
    else{
        return array();
    }
}







